* {
	margin: 0;
	padding: 0;
	font-size: 12px;
}

.display-row-box {
	display: flex;
}

.display-column-box {
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
}

.layout {
	width: 1030px;
	margin: 0 auto;
}

.cursor {
	cursor: pointer;
}

